@font-face { 	font-family: "Fighter"; 	src: url('Font/Fighter.ttf'); }

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Fighter;
}

body {    
    background-size:cover;
    overflow:hidden;
    z-index: 3;         
}

/*=================  MENU LANCEMENT JEU ===================== */

#menu {
    display:block;       
}

fieldset {
    background-color:rgb(10, 28, 110);
}

#musicButtonDiv {
    position:absolute;
    display:flex;
    justify-content: center;
    right:5%;
    top:20%;    
    width:250px;
    border: 1px solid white;
    background-color: black;    
}

#musicButton {
    width:200px;
    padding: 10px 0 10px 0;
}

#logomenu {
    position: relative;
    margin-top:2%;
    width: 20%;
    left:40%;
    margin-bottom: -3%;
}

.menuStyle {    
    color:rgb(235, 98, 35);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    background-image: url('Images/backgroundmenu.png');  
    background-color: black;
    z-index: 0;
}

#gameLaunch {
    color:rgb(235, 98, 35);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#startBtn {
    color:rgb(235, 98, 35);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display:flex;
    justify-content:flex-end;
}

form {
    margin:5%;
    font-size:25px;
}

form legend {
    font-size:30px;
}

form input {
    font-size: 25px;
}

fieldset {
    margin-top:1%;
    box-sizing:content-box;
}

.formError {
    border: 7px solid red;
}

#menu input {
    background:none;
    margin:1%;
    color:rgb(196, 35, 35);
}

.errAPI {
    color:red;
    font-size:30px;    
    margin-right:20%;
    letter-spacing: 0.2em;
}
#errAPI1 {
    display:none;    
}

#errAPI2 {
    display:none;
}

#errAPI3 {
    display:none;
}

/* ================= REGLE LANCEMENT JEU ====================*/

#rules {
    display:flex;
    font-size:larger;
    align-items:center;
    flex-direction:column;
    letter-spacing: 0.2em;
}

#rules p {
    text-decoration:underline;
    font-size:28px;
    margin: 0;
}

#rules ul li {
    font-size:22px;
}

/*====================== CONTENEUR JEU ======================*/

#container {
    
    height: 100vh;
    width: 100vw;    
    display:none;
}

.gameStyle {
    background-image: url('Images/STAGE2.gif');    /*Images/backgroundSandy.png*/
}

button {
    font-family:Fighter;
    border:none;
    display: inline-block;
    background:none;
    text-align: center;
    padding: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius:30%;
    font-size:35px;
}

#gameLaunch:hover, #answerSubmit:hover, #replay:hover {
    background-color:rgba(160, 132, 132, 0.295);
    color:aliceblue;
}

/*=========================== HUD HEADER JEU =========================*/

#header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height:18vh;
    margin-top: 1%;
}

#vs-img {
    align-items: center;
    width:148px;
    height:112px;
    display:block;
}

#ko-img {
    position: absolute;
    left:45.2%;
    top: 2%;
    width:148px;
    height: 112px;
    display:none;
    z-index: 12;
    opacity:1;
}

#avatarP1, #avatarP2 {
    flex:0.7;    
    display: flex;    
}

#healthP1 {
    display: flex;
    flex-direction: row;
}

#healthP2 {
    display: flex;
    flex-direction: row-reverse;
}

#statP1, #statP2 {
    display: flex;
    flex-direction: column;
    margin: 10px 5px 0 5px;
    flex:2;
}

#slot1, #slot2 { 
    position: absolute;
    width:30%;
    height:8%;
    z-index: 3;    
}

#bar1, #bar2 { 
    position: absolute;
    margin : 4px 8px;
    width:29%;
    height:6.5%;
    background-color: rgb(255, 230, 0);
    z-index: 2;
}

#backbar1, #backbar2 { 
    position: absolute;
    margin : 4px 8px;
    width:29%;
    height:6.5%;
    background-color: red;
    z-index: 1;
}

.name {
    margin-top: 8vh;
}

#nameP1 {
    text-transform: uppercase;    
    font-size: 28px;
    margin: 15px 5px 0 5px;
    color:white;
}

#nameP2 {
    text-transform: uppercase;    
    font-size: 28px;
    text-align: end;
    margin: 15px 20px 0px 5px;
    color:white;
}

#imageP1, #imageP2 {
    margin: 10px 10px;
    flex:1;
    width:50%;    
}

.lightname {
    background-color:rgba(37,39,39,0.753);
    color:aliceblue;
    border-radius:30%;
}

.lightname2 {
    background-color:rgba(158, 142, 142, 0.753);
    color:rgb(217, 255, 0);
    border-radius:30%;
}

/*=============================CONTENU DU JEU ========================*/

#underscoreArrays {
    font-size: 70px;
    color:rgb(217, 255, 0);
    text-shadow: 2px 2px 2px black;
    letter-spacing:0.5em;
    flex:3;
    margin-top:-3%;
    display:flex;
    justify-content:center;
}

#p1Word {
    display:block;
}

#p2Word {
    display:none;
}

#answerForm {
    flex:1;
    display:flex;
    flex-direction:row;
    margin: -3% 5% 0 5%;    
    justify-content:center;
    background-color: rgba(177, 190, 190, 0.514);
    width: fit-content;
}

#answerForm input {
    background-color: rgba(136, 145, 145, 0.493);
    font-size: 25px;
}

/*==================== SCENE BASTON ==================================*/

#baston {
    position: absolute;
    width:100vw;
    bottom:2%;
    height: 20%;
    display:none;              
}

#perso1div, #perso2div {
    width: fit-content;
    height: fit-content;
}

#perso1 {
    height: 150px;
    position:absolute;
    left: 12%;
    bottom: 35%;
    z-index:6;
}

#perso2 {
    height: 150px;
    position:absolute;
    right: 12%;
    bottom: 35%;
    z-index:6;
}

#aura1 {
    width:220px;
    position:absolute;
    left: 9%;
    bottom: 15%;
    display:none;
    z-index:7;
}

#aura1sup {
    width:220px;
    position:absolute;
    left: 9%;
    bottom: 9%;
    display:none;
    opacity:1;
    z-index:7;
}

#aura2 {
    width:270px;
    position:absolute;
    right: 8%;
    bottom: 28%;
    display:none;
    z-index:5;
}

#aura2sup {
    width:220px;
    position:absolute;
    right: 9%;
    bottom: 9%;
    display:none;
    opacity:1;
    z-index:7;
}

#laserP1 {
    position: absolute;
    height:0%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,238,65,1) 40%, rgba(182,219,0,1) 50%, rgba(228,238,65,1) 60%, rgba(255,255,255,1) 100%); 
    width:2%;
    margin-top: 3%;
    left: 23%;
    display: none;
    z-index:7;
    border-radius: 40%;
}

#laserP2 {
    position: absolute;
    height:0%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,238,65,1) 40%, rgba(182,219,0,1) 50%, rgba(228,238,65,1) 60%, rgba(255,255,255,1) 100%); 
    width:2%;
    margin-top: 3%;
    right: 25%;
    display: none;
    z-index:7;
    border-radius: 40%;
}

/*========================== ANIMATION =========================== */

.blink1 {
    animation-name: good;
    animation-duration: 0.2s;
    animation-iteration-count: 4;    
}

@keyframes good {
    0%{        
        color: white;
    } 
    100%{        
        color: rgb(217, 255, 0);
    }
}

.blink2 {
    animation-name: good2;
    animation-duration: 0.2s;
    animation-iteration-count: 4;    
}

@keyframes good2 {
    0%{        
        color: rgb(217, 255, 0);
    } 
    100%{        
        color: rgb(7, 165, 7);
    }
}

.onFire {
    font-size:90px;
    animation-name: good;
    animation-duration: 0.2s;
    animation-iteration-count: 5; 
}

@keyframes onFire {
    0%{        
        color: rgb(250, 2, 2);
    } 
    100%{        
        color: rgb(251, 255, 0);
    }
}

#fightmsg {
    position: absolute;    
    display: flex;
    top:40%;    
    justify-content: center;
    width:100vw;    
}

.animfightimg {
    animation-name: fightanim;
    animation-duration: 2s;
    animation-iteration-count: 1; 
}

@keyframes fightanim {
    0%{
        width:2000px;       
    }
    90%{
        width:355px;
    }
    100% { 
        width:0;
    }
    
}

.animfightdiv {
    animation-name: fightanimdiv;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fightanimdiv {
    0%{
        top:20%;       
    }
    20%{ 
        top:20%;
    }   
    100%{
        top:40%;
    }
    
}

.fillHealth{
    animation-name: fillhp;
    animation-duration: 3.5s;
    animation-iteration-count: 1;

}

.emptyHealth {
    animation-name: fillhp;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}


@keyframes fillhp {
    0%{
        width: 0%;
    }
    50% {
        width: 0%;
    }
    52.5%{
        width:1.4%;
    }
    55%{
        width:2.9%;
    }
    57.5%{
        width:4.3%;
    }
    60%{
        width:5.8%;
    }
    62.5%{
        width:7.2%;
    }
    65%{
        width:8.7%;
    }
    67.5%{
        width:10.1%;
    }
    70%{
        width:11.6%;
    }
    72.5%{
        width:13%;
    }
    75%{
        width:14.5%;
    }
    77.5%{
        width:15.9%;
    }
    80%{
        width:17.4%;
    }
    82.5%{
        width:18.8%;
    }
    85%{
        width:20.3%;
    }
    87.5%{
        width:21.7%;
    }
    90%{
        width:24.2%;
    }
    92.5%{
        width:25.6%;
    }
    95%{
        width:27.1%;
    }
    97.5%{
        width:28.5%;
    }
    100%{
        width:29%;
    }
}

#playerTurn {
    left:30%;
    top:45%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#animation-container {
    position: relative;
    top: -4%; 
    left: -150%;  
    overflow-x: hidden;
}


.anim {
    animation-name: turn;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}


@keyframes turn {
    0%{
        left:-150%;
    }
    40%{
        left:0%;
    }
    60%{
        left:0%;
    }
    100%{
        left:150%;
    }
}

.animMessage {
    animation-name: message;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes message {
    0%{
        font-size:0px;
    }
    30%{
        font-size:70px;
    }
    80%{
        font-size:70px;
    }
    100%{
        font-size:0px;
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;
   
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.finalShake {
    animation-name: finalShake;
    animation-duration: .5s;
    animation-iteration-count: 4;
}

@keyframes finalShake{
    0% { transform: translate(10px) }
    10% { transform: translate(-10px)  }
    20% { transform: translate(10px) }
    30% { transform: translate(-10px) }
    40% { transform: translate(10px) }
    50% { transform: translate(10px)  }
    60% { transform: translate(-10px) }
    70% { transform: translate(10px)  }
    80% { transform: translate(-10px) }
    90% { transform: translate(10px) }
    100% { transform: translate(-10px)  }
}

.errorEntry {
    animation-name: errorEntry;
    animation-duration:0.2s;
    animation-iteration-count:4;
}

@keyframes errorEntry {
    0%{
        border:none;
    }
    50%{
        border: 5px solid red;
    }
    100%{
        border:none;
    }
}

.attack2perso2 {
    animation-name: blinkDashP2;
    animation-duration:3s;
    animation-iteration-count:1; 
}

@keyframes blinkDashP2 {
    0% {
        right:12%;
    }
    40% {
        right:12%;
        opacity:1;
    }
    42% {
        right:12%;
        opacity:0;
    }
    44% {
        right:12%;
        opacity:1;
    }
    46% {
        right:12%;
        opacity:0;
    }
    50% {
        right:60%;
        opacity:0;
    }
    52% {
        right:60%;
        opacity:1;
    }
    54% {
        right:60%;
        opacity:1;
    }
    58% {
        right:72%;
        opacity:1;
    }
    70% {
        right:72%;
    }
    75% {
        right:60%;
        opacity:1;
    }
    77% {
        right:60%;
        opacity:0;
    }
    79% {
        right:60%;
        opacity:1;
    }
    81% {
        right:60%;
        opacity:0;
    }
    85% {
        right:12%;
        opacity:1;
    }
    100% {
        right:12%;
    }
}

.attack2perso1 {
    animation-name: blinkDashP1;
    animation-duration:3s;
    animation-iteration-count:1;
}

@keyframes blinkDashP1 {
    0% {
        left:12%;
    }
    40% {
        left:12%;
        opacity:1;
    }
    42% {
        left:12%;
        opacity:0;
    }
    44% {
        left:12%;
        opacity:1;
    }
    46% {
        left:12%;
        opacity:0;
    }
    50% {
        left:60%;
        opacity:0;
    }
    52% {
        left:60%;
        opacity:1;
    }
    54% {
        left:60%;
        opacity:1;
    }
    58% {
        left:72%;
        opacity:1;
    }
    70% {
        left:72%;
    }
    75% {
        left:60%;
        opacity:1;
    }
    77% {
        left:60%;
        opacity:0;
    }
    79% {
        left:60%;
        opacity:1;
    }
    81% {
        left:60%;
        opacity:0;
    }
    85% {
        left:12%;
        opacity:1;
    }
    100% {
        left:12%;
    }
}

.animDamageP1 {
    animation-name: animDamageP1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes animDamageP1 {
    0% {
        left:11.5%;
    }
    20% {
        left:12.5%
    }
    40% {
        left:11.5%;
    }
    60% {
        left:12.5%;
    }
    80% {
        left:11.5%;
    }
    100% {
        left:12%;
    }
}

.animDamageP2 {
    animation-name: animDamageP2;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes animDamageP2 {
    0% {
        right:11.5%;
    }
    20% {
        right:12.5%
    }
    40% {
        right:11.5%;
    }
    60% {
        right:12.5%;
    }
    80% {
        right:11.5%;
    }
    100% {
        right:12%;
    }
}

.laserDamageP1 {
    animation-name: laserDamageP1;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes laserDamageP1 {
    0% {
        left:12%;
    }
    10% {
        left:11%;
    }
    20% {
        left:10%;
    }
    30% {
        left:9%;
    }
    40% {
        left:8%
    }
    48% {
        left:7%;
    }
    54% {
        left:6%;
    }
    60% {
        left:5%;
    }
    65% {
        left:4%;
    }
    75% {
        left:3%;
    }
    85% {
        left:3%;
        opacity:0;
    }
    87% {
        left:3%;
        opacity:1;
    }
    89% {
        left:3%;
        opacity:0;
    }
    91% {
        left:12%;
        opacity:0;
    }
    93% {
        left:12%;
        opacity:1;
    }
    100% {
        left: 12%;
    }
}

.laserDamageP2 {
    animation-name: laserDamageP2;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes laserDamageP2 {
    0% {
        right:12%;
    }
    10% {
        right:11%;
    }
    20% {
        right:10%;
    }
    30% {
        right:9%;
    }
    40% {
        right:8%
    }
    48% {
        right:7%;
    }
    54% {
        right:6%;
    }
    60% {
        right:5%;
    }
    65% {
        right:4%;
    }
    75% {
        right:3%;
    }
    85% {
        right:3%;
        opacity:0;
    }
    87% {
        right:3%;
        opacity:1;
    }
    89% {
        right:3%;
        opacity:0;
    }
    91% {
        right:12%;
        opacity:0;
    }
    93% {
        right:12%;
        opacity:1;
    }
    100% {
        right: 12%;
    }
}

@keyframes finish {
    0%{
        color: red;
    }
    50% {
        color:yellow;
    }
}

/*========================= MESSAGE EN JEU ======================*/

#message {
    position: relative; 
    font-size: 0px;
    color: rgb(238, 12, 12);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);  
    display: none; 
      
}

#fightimg {
    width:0px;
    opacity:1;  
    display:none;
    z-index:10;   
}

#turnPlayer {
    font-size: 70px;
    color: rgb(238, 12, 12);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    display:none;
    text-align: center;
}

#turnPlayer p {
    padding:5px;
    margin:0;
}

#good {
    display: none;
    text-align: center;
}

#absentLetter {
    display: none;
    text-align: center;
    
}

#callLetter {
    display: none;
    text-align: center;
    
}

#endingScreen {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    display:none;
    color:black;
}

#endingScreen h2 {
    font-size: 90px;
    align-self:center;
}

#endingScreen p {
    font-size: 60px;
    margin-top: -50px;
}

#finishDiv {
    position: absolute;
    top:33%;
    width:100vw;
    font-size: 120px;
    letter-spacing: 0.2em;
    color:red;
    text-shadow: 5px 5px 3px black;
    animation-name: finish;
    animation-duration: 0.12s;
    animation-iteration-count: 7;
    display:none;
    text-align: center;
}

#altback {
    height: 100vh;
    width: 100vw;
    background-color: white;
    top:0;
    left: 0;
    position: absolute;
    z-index: 4;
    opacity:0;
    display: none;
}

#koscreen {
    position: absolute;
    top:25%;
    left:35%;
    z-index: 15;
    display:none;
}









